@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: #1c272b;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 8vh;
    padding: 5%;
    
}

header img {
    cursor: pointer;
    transition: transform .3s ease;
}

header img:hover {
    transform: scale(1.5);
}


#update-view{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
}
#update-container{
    width: 25em;
    /* height: 15em; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    animation: openning .7s;
    padding: 2em;
    display: grid;
}

#update-container h1{
    font-size: 15pt;
    color: rgb(0, 0, 0);

}



#update-container p {
    margin-top: 2em;
    text-align: justify;
    color: rgb(0, 0, 0);

}

#config-container {
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.openconfig {
    display: flex !important;
    animation: open-config .4s;
}

@keyframes open-config {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.closeconfig{
    display: none;
    animation: open-config .4s;
    animation-direction: reverse;
}

#config-container #config{
    width: 20em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: openning .4s;
}
#config-container #config label{
    font-size: 20pt;
    color: rgba(116, 131, 151, 0.986);
}

#config-container #config form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

#config-container #config input{
    padding: 5px 20px;
    outline: none;
    background: none;
    border: 3px solid rgb(153, 172, 196);
    border-radius: 10px;
    width: 15em;
    height: 3em;
    font-size: 15pt;
    color: rgb(153, 172, 196);
}

#config-container #config input::placeholder {
    color: rgba(153, 172, 196, 0.425);

}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Restante dos navegadores */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2em;
    animation: openning .3s ease-in-out;
}

@keyframes openning {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}

@keyframes closer {
    from{
        opacity: 1;
        transform: translateY(0px);

    }
    to{
        opacity: 0;
        transform: translateY(-10px);

    }
}

#container img#DopaminadosLogo{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 157);
    border-width: 2px;
}

#header-container {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
    color: #ffffff4d;
    height: 100%;
}

.form-container {
    width: 25em;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.205);
    transition: .5s;

}

.form-container form, .form-container-focus form {
    width: 25em;
    height: 2.5em;
    border-radius: 5px;
    /* border: 1px solid rgba(68, 68, 68, 0.432); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
form button{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container-focus {
    width: 25em;
    height: 2.5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3px;
    box-shadow: 0px 0px 6px rgba(243, 45, 104, 0.226);
    transition: .2s;
    border: 1px solid rgba(45, 243, 233, 0.5) ;  
}

.form-container img, .form-container-focus img {
    opacity: 0.5;
    width: 25px;
    cursor: pointer;
    filter: invert(100%);
}

#clipInput{
    
    background: none;
    width: 25em;
    height: 2.5em;
    outline: none;
    color: rgba(255, 255, 255, 0.575);
    border: none;
    font-family: 'Roboto', sans-serif;
    
}

#clipInput::placeholder{
    color:rgba(255, 255, 255, 0.301);
}


#container p {
    color: rgba(255, 255, 255, 0.274);
    font-size: 10pt;
}


footer img{
    width: 1em;
    filter: invert(100%);
}
footer{
    opacity: 0.2;
    animation: openning2 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

@keyframes openning2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.3;
    }
}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: white;
}

div#message {
    height: 2em;
    padding: 1em;
    background-color: rgba(82, 252, 48, 0.541);   
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    font-weight: bold;
    position: absolute;
    display: none;
    top: 75vh;
    animation: added 1s ease-in-out, shake 0.5s ease;
    animation-iteration-count: infinite;
}

@keyframes added{
    0%{
        opacity: 0;
        transform: translateY(+60px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(0);

    }
}

@keyframes shake {
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(+10px);
    }
    100%{
        transform: translateX(-10px);
    }

}





.container {
    display: grid;
    grid-template-rows:2fr 3fr 1fr;
    align-content: space-around;
    gap: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#comment .comment-textarea{
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
    background-color: #27363b00;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.575);
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    scrollbar-width: thin;
    scrollbar-color: transparent #000000;

}

#comment .comment-textarea-focus {
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
    background-color: #27363b00;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.575);
    font-family: 'Roboto', sans-serif;

    scrollbar-width: thin;
    scrollbar-color: transparent #000000;
    border: 1px solid rgba(45, 243, 233, 0.5) ;  
    transition: .2s;

}

#comment #comment-textarea::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

#comment #comment-textarea::-webkit-scrollbar-thumb {
    background-color: rgba(172, 162, 162, 0.329); /* Fundo transparente da thumb */
    border-radius: 4px; /* Raio de borda da thumb */
}

#comment #comment-textarea::-webkit-scrollbar-track {
    background-color: #00000000; /* Cor de fundo do track */
    border-radius: 4px; /* Raio de borda do track */
}


#comment #comment-textarea::placeholder{
    color: rgba(255, 255, 255, 0.274);
   
}

#comment {
    display: flex;
    width: 100%;
}

